<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>select-picker</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ListItem
            Picker
            [okText]="'Ok'"
            [dismissText]="'Cancel'"
            [extra]="result"
            [arrow]="'horizontal'"
            [data]="singleArea"
            [(ngModel)]="selectedValue"
            (ngModelChange)="onOk($event)">
        Single
    </ListItem>

    <ListItem
            Picker
            [okText]="'Ok'"
            [dismissText]="'Cancel'"
            [extra]="multiResult"
            [arrow]="'horizontal'"
            [data]="multiData"
            [(ngModel)]="multiSelectedValue"
            (ngModelChange)="onOk2($event)">
        Multiple
    </ListItem>

    <ListItem
            Picker
            [okText]="'Ok'"
            [dismissText]="'Cancel'"
            [extra]="seaResult"
            [arrow]="'horizontal'"
            [cascade]="false"
            [data]="seaData"
            [(ngModel)]="seaSelectedValue"
            (ngModelChange)="onOk5($event)">
        Multiple
    </ListItem>
</ion-content>
